$brand: #58c800;
$white: #f9f9f9;
$text: #323232;

/**
 *  Main slider wrapper.
 */
.cwp-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;

    /**
     *  Owl Carousel 2 restyling in it.
     */
    &.owl-theme {
        .owl-nav {
            margin-top: 0;
            width: 1140px;
            position: absolute;
            bottom: 200px;
            left: 50%;
            margin-left: -570px;
            text-align: left;

            .owl-prev,
            .owl-next {
                color: $text;
                font-size: 18px;
                background-color: transparent;
                padding: 0 !important;
                margin: 0;

                &:hover {
                    background-color: transparent;
                    color: $brand
                }
            }

            .owl-prev {
                margin-right: 30px
            }
        }
    }

    &.owl-carousel {
        .owl-stage-outer,
        .owl-stage,
        .owl-item {
            height: inherit
        }
    }

    /**
     *  Single slide.
     */
    .cwp-slide {
        height: inherit;
        background-size: cover;
        background-position: center top;

        .fw-col-xs-12 {
            padding: 0 15px
        }
    }
}

/**
 *  Slide image and its wrapper.
 */
.cwp-slide-image-wrapper {
    position: absolute;
    top: 200px;
    right: 15px;
    width: 570px
}

.cwp-slide__image {
    position: relative;
    width: 100%;
    height: auto
}

/**
 *  Slide text wrapper.
 */
.cwp-slide-text {
    position: relative;
    top: 400px;
    color: $white
}

/**
 *  Slide title.
 */
.cwp-slide-text__header {
    color: $text;
    font-size: 60px;
    margin-bottom: 30px;
    max-width: 800px
}

/**
 *  Slide description.
 */
.cwp-slide-text__description {
    color: #b5b5b5;
    max-width: 500px;
    animation-delay: 500ms
}

/**
 *  Slide social icons and links.
 */
.cwp-slide-icons {
    position: relative;
    margin-top: 80px;
    max-width: 700px;
    animation-delay: 1000ms;

    &::before {
        content: '';
        position: absolute;
        top: -38px;
        left: 0;
        background-color: $text;
        width: 50%;
        height: 1px
    }
}

.cwp-slide-icon {
    display: inline-block;
    font-size: 16px;
    margin-right: 30px;

    &:last-child {
        margin-right: 0
    }
}

.cwp-slide-icon__link {
    color: #b5b5b5;

    &:hover,
    &:active,
    &:focus {
        color: $brand !important
    }

    &:visited {
        color: $white
    }
}

/*** Media queries ***/
@media (max-width : 1112px) {
    .cwp-slider {
        &.owl-theme {
            .owl-nav {
                width: 970px;
                margin-left: -470px
            }
        }
    }
}

@media (max-width : 991px) {
    .cwp-slider {
        &.owl-theme {
            .owl-nav {
                width: 750px;
                margin-left: -360px
            }
        }
    }

    .cwp-slide-image-wrapper {
        width: 450px
    }

    .cwp-slide-text__header {
        max-width: 70%;
        font-size: 50px
    }
}

@media (max-width : 767px) {
    .site-header {
        padding: 30px 0 !important
    }

    .cwp-slider {
        .cwp-slide {
            .fw-col-xs-12 {
                padding: 0 30px
            }
        }

        &.owl-theme {
            .owl-nav {
                bottom: 100px;
                width: 100%;
                margin-left: 0;
                left: 0;
                padding: 0 30px
            }
        }
    }

    .cwp-slide-text {
        top: 300px
    }

    .cwp-slide-text__header {
        font-size: 40px;
        margin-bottom: 15px
    }

    .cwp-slide-text__description {
        font-size: 14px;
        max-width: 60%
    }

    .cwp-slide-icons {
        margin-top: 50px
    }

    .cwp-slide-image-wrapper {
        right: 30px;
        width: 350px
    }
}

@media (max-width : 600px) {
    .cwp-slide-image-wrapper {
        width: 50%
    }
}

@media (max-width : 414px) {
    .cwp-slide-text {
        background-color: rgba(255, 255, 255, 0.95);
        padding: 15px
    }

    .cwp-slide-text__header {
        max-width: 100%;
        font-size: 30px
    }

    .cwp-slide-text__description {
        max-width: 100%
    }

    .cwp-slide-image-wrapper {
        width: 100%;
        right: 0
    }
}